<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://localhost/billing-base</property> <!-- BD Mane -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">postgres</property> <!-- DB User -->
        <property name="connection.password">1</property> <!-- DB Password -->
        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->
        <property name="use_sql_comments">true</property>

        <mapping class="entities.Client" />
        <mapping class="entities.Number" />
        <mapping class="entities.Service" />
        <mapping class="entities.ServiceHistory" />
        <mapping class="entities.Transactions" />

    </session-factory>
</hibernate-configuration>