<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css " rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    <style>
        .mb-3 {
            margin-right: 40%; /* Отступ справа */
        }
        body {
            margin-left: 10px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="four"><h1>Страница номера</h1></div>
<form>
    <p>
        <label for="number_id" class="number_id" data-icon="n">Number</label>
        <input id="number_id" name="number_id" required="required" type="text" th:value="${number.getId()}" readonly/>
    </p>
    <p>
        <label for="client_id" class="client_id" data-icon="n">Client's id</label>
        <input id="client_id" name="client_id" required="required" type="text" th:value="${number.getOwner().getId()}" />
    </p>
    <p>
        <label for="max_credit" class="max_credit" data-icon="e">Max credit</label>
        <input id="max_credit" name="max_credit" required="required" type="text" th:value="${number.getMaxCredit()}"/>
    </p>
    <p>
        <label for="balance" class="balance" data-icon="e">Balance</label>
        <input id="balance" name="balance" required="required" type="text" th:value="${number.getBalance()}" readonly/>
    </p>
    <p class="upd_button">
        <input type="submit" value="Save changes" th:formaction="@{'/update_number'}" formmethod="get"/>
    </p>
    <p class="del_button">
        <input type="submit" value="Delete number" th:formaction="@{'/delete_number'}" formmethod="get"/>
    </p>

</form>
<div><a th:href="@{/service_history/registration(number=${number.getId()})}"><button id="num_button">Add service agreement</button></a></div>
<div><a th:href="@{/transactions/registration(number=${number.getId()})}"><button id="tr_button">Add transaction</button></a></div>
</body>
</html>