<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css " rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.js"></script>
  <style>
    body {
      margin-left: 10px;
      margin-top: 10px;
    }
  </style>
</head>
<div class="four"><h1>Регистрация</h1></div>
<body background="https://catherineasquithgallery.com/uploads/posts/2021-03/1614646973_17-p-sovremennii-fon-dlya-fotoshopa-21.jpg">
<div class="btn-group">
  <button id="btn" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="background: -webkit-linear-gradient(-45deg, #f2f2f2 0%,#dddddd 50%,#ffffff 51%,#ffffff 71%,#f6f8fb 100%);">
    Меню
  </button>
  <div id="menu" class="dropdown-menu">
    <a class="dropdown-item" href="/clients">Клиенты</a>
    <a class="dropdown-item" href="/client/registration">Регистрация клиента</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/services">Услуги</a>
    <a class="dropdown-item" href="/service/registration">Регистрация услуги</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/numbers">Номера</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/service_history">Журнал услуг</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/transactions">История операций</a>
    <a class="dropdown-item" href="/transactions/registration">Добавление транзакции</a>
  </div>
</div>
<br>
<br>
<div id="container_demo" >
  <a class="hiddenanchor" id="tosubscribe"></a>
  <a class="hiddenanchor" id="tologin"></a>
  <div id="wrapper">
    <div id="subscribe" class="animate form">
      <form action="#" th:action="${'/add_number'}" method="get">
        <p>
          <label for="client_id" class="badge badge-light" data-icon="n">id</label>
          <input id="client_id" class="form-control" name="client_id" required="required" type="text" th:value="${client_id}" readonly/>
        </p>
        <p>
          <label for="number" class="badge badge-light" data-icon="t" >Номер</label>
          <input id="number" class="form-control" name="number" required="required" type="text"/>
        </p>
        <p>
          <label for="balance" class="badge badge-light" data-icon="a">Баланс</label>
          <input id="balance" class="form-control" name="balance" required="required" type="text"/>
        </p>
        <p>
          <label for="max_credit" class="badge badge-light" data-icon="e">Максимальный размер кредита</label>
          <input id="max_credit" class="form-control" name="max_credit" required="required" type="text"/>
        </p>
        <button class="btn btn-info" type="submit" id="ui-button">Зарегистрироваться</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>