<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div id="container_demo" >
  <a class="hiddenanchor" id="tosubscribe"></a>
  <a class="hiddenanchor" id="tologin"></a>
  <div id="wrapper">
    <div id="subscribe" class="animate form">
      <form action="#" th:action="${'/add_transaction'}" method="get">
        <h1> Sign up </h1>
        <p>
          <label for="number" class="number" data-icon="t" > Number </label>
          <input id="number" name="number" required="required" type="text"/>
        </p>
        <p>
          <label for="type" class="type" data-icon="a"> Type </label>
          <input id="type" name="type" required="required" type="text"/>
        </p>
        <p>
          <label for="time" class="time" data-icon="a"> Time </label>
          <input id="time" name="time" required="required" type="datetime-local"/>
        </p>
        <p>
          <label for="sum" class="sum" data-icon="e"> Sum </label>
          <input id="sum" name="sum" required="required" type="text"/>
        </p>
        <p class="button">
          <input type="submit" value="Sign up"/>
        </p>
      </form>
    </div>
  </div>
</div>
</html>