<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client's page</title>
</head>
<body>
<form>
    <p>
        <label for="id" class="id" data-icon="n">Client's name</label>
        <input id="id" name="id" required="required" type="text" th:value="${client.getId()}" readonly/>
    </p>
    <p>
        <label for="fcn" class="fcn" data-icon="n">Client's name</label>
        <input id="fcn" name="fcn" required="required" type="text" th:value="${client.getName()}" />
    </p>
    <p>
        <label for="type" class="type" data-icon="t" > Type </label>
        <input id="type" name="type" required="required" type="text" th:value="${client.getType()}"/>
    </p>
    <p>
        <label for="address" class="address" data-icon="a"> Address </label>
        <input id="address" name="address" required="required" type="text" th:value="${client.getAddress()}"/>
    </p>
    <p>
        <label for="email" class="youmail" data-icon="e"> E-mail </label>
        <input id="email" name="email" required="required" type="text" th:value="${client.getEmail()}"/>
    </p>
    <p class="upd_button">
        <input type="submit" value="Save changes" th:formaction="@{'/update_client'}" formmethod="get"/>
    </p>
    <p class="del_button">
        <input type="submit" value="Delete client" formaction="@{'/delete_client'}" formmethod="get"/>
    </p>
</form>
</body>
</html>